<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    {% load static %}
    <!-- Favicon -->
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>Hammond Hustle</h1>
      </div>
      <button class="menu-toggle" onclick="toggleMenu()">☰</button>
      <nav id="nav-menu">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#about-section">About Us</a></li>
          <li><a href="#team-section">Trainers</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'manage_bookings' %}">Your Bookings</a></li>
          <li><a href="{% url 'my_account' %}">My Account</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div id="color-black">
      <section class="form-section">
        <h2>Login</h2>
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn">Log In</button>
        </form>
        <p>
          Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.
        </p>
      </section>
    </div>
    <script>
      function toggleMenu() {
        const menu = document.getElementById("nav-menu");
        menu.classList.toggle("active");
      }
    </script>
  </body>
</html>
