<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account</title>
    {% load static %}
    <!-- Favicon -->
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>Hammond Hustle</h1>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'create_booking' %}">Make a Booking</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          <li><a href="{% url 'my_account' %}">My Account</a></li>
        </ul>
      </nav>
    </header>

    <section class="account-section" id="color-black">
      <h2>My Account</h2>
      <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        {{ user_form.username }} {{ user_form.username.help_text }}<br />

        <label for="email">Email address:</label>
        {{ user_form.email }}<br />

        <label for="first_name">First name:</label>
        {{ profile_form.first_name }}<br />

        <label for="last_name">Last name:</label>
        {{ profile_form.last_name }}<br />

        <label for="phone">Phone:</label>
        {{ profile_form.phone }}<br />

        <label for="date_of_birth">Date of Birth:</label>
        <input
          type="text"
          id="date_of_birth"
          name="date_of_birth"
          placeholder="Select your date of birth"
          required
        />

        <button type="submit" class="btn">Update Account</button>
      </form>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
    <script>
      flatpickr("#date_of_birth", {
        dateFormat: "F j, Y",
        maxDate: "today",
        altInput: true,
        altFormat: "F j, Y",
      });
    </script>
  </body>
</html>
