<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Confirmation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>Booking Confirmation</h1>
    </header>
    <section class="confirmation-section">
      <h2>Your booking has been successfully created!</h2>
      <p><strong>Date:</strong> {{ booking.session_date }}</p>
      <p><strong>Time:</strong> {{ booking.session_time }}</p>
      <p><strong>Status:</strong> {{ booking.status }}</p>

      <a href="{% url 'manage_bookings' %}" class="btn">View Your Bookings</a>
    </section>
  </body>
</html>
